<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    <img src="static/img/nordstrom-logo.gif" />
    <hr>
    <br>
    <h2>{{welcomeMessage}}</h2>
    <br>
    <ul>
        <li><a href="products" target="_blank">View demo products search results page here.</a></li>
        <li><a href="api/v1/products" target="_blank">View raw products JSON data via API</a></li>
    </ul>

    <br>
    <a href="https://github.com/nwhitmont/nord-hapi" target="_blank">View demo project on GitHub.</a>
</body>
</html>