.hr2 {
    background-color: #000;
    border: 0 none;
    color: #000;
    height: 2px;
}

.hr5 {
    background-color: #000;
    border: 0 none;
    color: #000;
    height: 5px;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.contentArea {
    width: 800px;
    height: 1680px;
    overflow: none;
}

.productTile {
    width: 165px;
    height: 360px;
    float: left;
    padding 4px;
    margin: 30px;
}

.productImageLarge {
    margin: 20px 30px 0 20px;
    float: left;
}

.productInfo {
    width: 400px;
    height: 400px;
    line-height: 23px;
    float: left;
}

.infoLabels {
    margin-right: 5px;
}

.addToCardBtn {
    width: 340px;
    height: 40px;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    background: #fc576f;
    margin: 10px;
    text-decoration: none;
}

.addToCardBtn:hover {
    background: #ff7a8e;
    text-decoration: none;
}

.backToSearchLink {
    margin: 10px 20px 10px 0;
}