<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nordstrom Demo</title>

        <!-- CSS INCLUDES -->
        <link href="/static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <hr class="hr5">
            <a href="http://shop.nordstrom.com/"><img src="/static/img/nordstrom-logo.gif" id="headerLogo"/></a>
            <a href="http://about.nordstrom.com/careers/#/about-us/main" target="_blank" class="floatRight">Why work with us?</a>
            <hr class="hr2">
        </header>

        <!-- MAIN CONTENT AREA -->
        <div class="contentArea">
            {{{content}}}
        </div>
    </body>
</html>